:host {
  display: grid;
  grid-template-columns: auto 120px;
  grid-template-rows: auto;
  height: 100%;
}

.message-section {
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: auto;
}

.room-name {
  margin: 10px 0 0 0;
}
