:host {
  display: flex;
  height: 100%;
}

.panel-primary {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  margin-bottom: 0;
  flex-grow: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.panel-heading {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.room-body {
  display: flex;
  flex-direction: column;
}

app-messages {
  flex: 1;
}
